<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .red{
        background-color: #f00;
    }
</style>
<script src="./js/vue.js"></script>

<body>
    <div class="app">
        <input type="text" v-model="proName">
        <button @click="add">add</button>
        <ul>
            <li v-for="(obj,index) in list" @click=""></li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: "#app",
            data:{
                list:[
                    {name:"菠萝",isSelected:false},
                    {name:"柠檬",isSelected:false}
                ],
                proName:''
            },
            methods:{
                add(){
                    this.list.push({name:this.proName,isSelected:false});
                    proName = '';
                }
            }
        })
    </script>
</body>

</html>